SetEnv TZ Europe/London

# GZIP files to reduce load times
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

# Disable automatic directory indexing
Options -indexes

# Error pages
ErrorDocument 404 /404/
ErrorDocument 500 /500/

# Redirects
RewriteEngine on

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^post/?$ / [R=301]
RewriteRule ^feed/?$ feed.xml

# Typo in blog post slug, only spotted three years after publication!
RewriteRule ^post/amp-gpu-fan-curve-pop-os-ubuntu/?$ /post/amd-gpu-fan-curve-pop-os-ubuntu/ [R=301]
