SetEnv TZ Europe/London

# GZIP files to reduce load times
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

# Disable automatic directory indexing
Options -indexes

php_flag magic_quotes_gpc Off

# Remember to set:
#    expose_php = Off
# in php.ini!

# Redirects
RewriteEngine on
RewriteRule ^post/(.+)$ index.php?slug=$1 [L]
RewriteRule ^post/?$ / [L,R=301]
RewriteRule ^feed/?$ feed.php [L]
