    <footer>
        <div class="container-readable vcard">
            {% img src="/assets/img/zarinozappia.jpg" srcset="/assets/img/zarinozappia.jpg 128w, /assets/img/zarinozappia@2x.jpg 256w" sizes="128px" alt="Zarino Zappia" width="256" height="256" class="rounded-circle photo border" %}
            <h3>
                <span class="fn">Zarino Zappia</span>
                <small title="MSc Social Science of the Internet, Oxford University">MSc</small>
            </h3>
            <p class="lead title">Designer, Coder &amp; Internetologist</p>
            <p>Zarino makes things that people want to use. He combines his intuition for design with a background in cultural studies and social science, to question, iterate, create and explain.</p>
            <p>
                Find him on
                <a href="https://twitter.com/zarino">Twitter</a>
                <a href="https://github.com/zarino">Github</a> and
                <a href="http://uk.linkedin.com/in/zarino">LinkedIn</a>
            </p>
        </div>
    </footer>

    <script src="{{ "/vendor/js/jquery-3.7.1.min.js" | relative_url }}"></script>
    <script src="{{ "/vendor/js/jquery.scrolldepth.min.js" | relative_url }}"></script>
    <script src="{{ "/vendor/js/loading-attribute-polyfill.min.js" | relative_url }}"></script>
  {% if page.contains_image_gallery %}
    <script src="{{ "/vendor/js/imagelightbox.min.js" | relative_url }}"></script>
  {% endif %}
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>

    <script defer>Object.defineProperty(document,"cookie",{get:function(){var t=Object.getOwnPropertyDescriptor(Document.prototype,"cookie").get.call(document);return t.trim().length>0&&(t+="; "),t+="_ga=GA1.1."+Math.floor(1e9*Math.random())+"."+Math.floor(1e9*Math.random())},set:function(t){t.trim().startsWith("_ga")||Object.getOwnPropertyDescriptor(Document.prototype,"cookie").set.call(document,t)}});</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XG1S4HT0R9"></script>
    <script>
    var client_id = Math.floor(Math.random() * 1000000000) + '.' + Math.floor(Math.random() * 1000000000);
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-XG1S4HT0R9', {'client_id': client_id, 'cookie_expires': 1});
    </script>
