body {
  font-size: 20px;
  line-height: 1.45em;
  background-color: #EBEEF0;
}

header {
  background-color: #00ADFF;
  color: #fff;
  font-family: Lato, 'Gill Sans', 'Gill Sans MT', Helvetica, sans-serif;
  min-height: 150px;
}

header h1,
#subheading {
  position: relative;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  padding-top: 20px;
}

header h1 a,
header h1 a:hover,
header h1 a:focus {
  color: inherit;
  text-decoration: none;
}

header #subheading {
  padding-top: 0;
  margin-bottom: 32px; /* same as line-height */
  color: rgba(255,255,255,0.5);
  font-weight: 100;
}

#menu-toggle {
  position: absolute;
  top: 20px;
  right: 0;
  width: 0.8em;
  display: block;
  padding-top: 5px;
  cursor: pointer;
}

#menu-toggle i {
  display: block;
  position: relative;
  top: 0;
  height: 2px;
  margin-bottom: 6px;
  background: rgba(255,255,255,0.5);
  -webkit-transition: opacity 0.2s, top 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, top 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, top 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, top 0.2s, transform 0.2s;
}

#menu-toggle:hover i,
#menu-toggle.active i {
  background: #fff;
}

#menu-toggle.active .first {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

#menu-toggle.active .second {
  opacity: 0;
}

#menu-toggle.active .third {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -8px;
}

header nav {
  display: none; /* Will get shown by JavaScript */
}

nav ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

nav a {
  display: block;
  overflow: auto;
  color: inherit;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding: 5px 0;
  line-height: 1.3em;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  strong {
    color: rgba(255,255,255,0.8);
    font-weight: normal;
    float: left;
    width: 60%;
  }

  span {
    color: rgba(255,255,255,0.4);
    float: right;
  }
}

nav .active a {
  cursor: default;
}

nav .hidden,
nav .hidden ~ .show-more {
  display: none;
}

nav a:hover,
nav .active {
  strong {
    color: rgba(255,255,255,1);
  }

  span {
    color: rgba(255,255,255,0.6);
  }
}

nav .draft {
  font-style: italic;

  strong {
    color: rgba(255,255,255,0.4);
  }

  &:hover {
    strong {
      color: rgba(255,255,255,0.6);
    }
  }
}

nav .show-more {
  text-align: center;
  color: rgba(255,255,255,0.8);
  border-top: 1px solid rgba(255,255,255,0.3);
  padding: 5px 0;
  line-height: 1.3em;
  cursor: pointer;

  &:hover {
    color: rgba(255,255,255,1);
  }
}

#content {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  padding: 20px 0;
  background-color: #fff;
}

#content .date a {
  color: #aaa;
}

#content .date .muted {
  color: #ddd;
  padding: 2px 5px;
}

#content .date a:hover {
  color: #08c;
  text-decoration: none;
}

#content .date a:hover .muted {
  color: #68B6DD;
}

#content .byline {
  position: absolute;
  top: -999px;
}

#content h1 {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0.7em;
}

#content h3 {
  line-height: 1.2em;
  margin-bottom: 0.8em;
  margin-top: 1.5em;
}

#content p img {
  margin: 0.5em 0;
}

#content li, #content dd, #content dt {
  line-height: inherit; /* override Bootstrap pixel-based line-height */
}

#content li {
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 0;
  }

  & > ul { // for nested lists
    margin-top: 0.5em;
  }
}

#content .alert {
  margin: 1.5em 0;
  padding: 1em;
  font-size: 0.9em;
  line-height: 1.3em;
}

#content .alert :last-child {
  margin-bottom: 0;
}

#content hr.stars {
  text-align: center;
  border: none;
  margin: 1.5em 0 1.2em;
}

#content hr.stars:after {
  display: inline;
  content: "* * *";
}

blockquote {
  color: #777;
  border-left-color: #ddd;
}

pre code {
  /* compensate for PHP Markdown's weird
     pre > code nesting behaviour */
  font-size: inherit;
  line-height: inherit;
}

pre {
  font-size: 0.6em;
  line-height: 1.5em;
  margin-bottom: 1.4em; /* rather than the 10px default */
}

sup[id^="fnref"] {
  padding: 0 1px 0 2px;
}

.post-previews {
  margin-top: -1em;
}

.post-preview {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #eee;
  color: inherit;
  overflow: auto;

  &:focus,
  &:hover {
    text-decoration: none;
    color: #08c;

    .date {
      color: #68B6DD;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &.draft {
    color: #999;

    &:focus,
    &:hover {
      color: #68B6DD;
    }

    h2 {
      font-style: italic;
    }
  }

  h2 {
    margin-bottom: 5px;
    line-height: 1.2em;
  }

  p {
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 10px;
  }

  .date {
    color: #aaa;
  }

  .preview {
    clear: both;
  }

  img {
    margin-top: 10px;
    border-radius: 0.2em;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.footnotes {
  border-top: 1px solid #ddd;
  padding-top: 1.8em;
  margin-top: 1.8em;

  ol {
    font-size: 0.7em;
    line-height: 1em;
  }

  li, p {
    line-height: 1.5em;
  }
}

.footnote-preview {
  position: absolute;
  z-index: 10;
  top: 120%;
  left: 50%;
  line-height: 1.2;
  background: #fff;
  padding: 1em;
  transform: translateX(-50%);
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
  min-width: 15em;
  border-radius: 3px;

  p:last-child {
    margin-bottom: 0;
  }

  .reversefootnote {
    display: none;
  }
}

#content hr {
  margin: 1.8em 0;
}

#further-reading {
  background: #fff;
  border-top: 2px solid #eee;
  padding: 40px 0 30px;
  color: #999;

  h2 {
    font-family: Lato, 'Gill Sans', 'Gill Sans MT', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0;
  }

  a {
    display: block;
    font-family: Cambria, Georgia, "Times New Roman", Times, serif;
    margin: 20px 0;
    color: inherit;
    text-decoration: none;
  }

  h3 {
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
    color: #666;
  }

  p {
    margin: 0.6em 0 0 0;
    font-size: 0.7em;
    line-height: 1.2em;
  }

  a:hover {
    h3 {
      color: #08c;
    }

    p {
      color: #68B6DD;
    }
  }
}

footer {
  font-family: Lato, 'Gill Sans', 'Gill Sans MT', Helvetica, sans-serif;
  border-top: 1px solid #D9DCDF;
  padding: 40px 0;
  color: #76828A;
  font-size: 14px;
  line-height: 21px;

  img {
    float: left;
    width: 48px;
    margin-right: 15px;
  }

  h3 {
    font-weight: normal;
    margin: 0;
    font-size: 21px;
    line-height: 26px;

    small {
      font-size: 15px;
      color: #98A8B4;
      cursor: help;
    }
  }

  p {
    margin-left: 63px;
  }

  .lead {
    font-size: 1.05em;
    line-height: inherit;
    font-weight: 300;
    margin-bottom: 14px;
    margin-left: 0;
  }

  a {
    padding: 2px 5px;
    border: 1px solid #C9D8DD;
    border-radius: 3px;
    margin: 0 1px;
    color: #3F728B;

    &:hover,
    &:focus {
      color: #3F728B;
      border: 1px solid #A6CFDD;
      background-color: #F5FAFC;
      text-decoration: none;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}

.fourohfour-search {
  label {
    position: absolute;
    left: -30em;
  }

  input {
    width: 60%;
    max-width: 12em;
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    font-size: 0.9em;

    input, .btn {
      font-size: 1em;
      line-height: 1.42em;
      vertical-align: bottom;
    }

    input {
      height: 1.42em;
      padding: 0.3em 0.4em;
      width: 12em;
    }

    .btn {
      padding: 0.3em 0.75em;
    }
  }
}

@media only screen and (min-width: 480px) {

  header {
    min-height: 190px;
  }

  header h1,
  #subheading {
    font-size: 42px;
    line-height: 42px;
    padding-top: 25px;
  }

  #menu-toggle {
    top: 25px;
    padding-top: 8px;
  }

  #menu-toggle i {
    margin-bottom: 8px;
  }

  #menu-toggle.active .first {
    top: 10px;
  }

  #menu-toggle.active .third {
    top: -10px;
  }

  nav ul {
    padding: 20px 0 42px 0;
    font-size: 17px;
  }

  nav ul a {
    padding: 9px 0;
  }

  #content {
    padding: 30px 0;
  }

  body {
    font-size: 22px;
  }

  .post-preview {
    padding: 1.2em 0;
  }

}

@media only screen and (min-width: 768px) {

  header {
    min-height: 240px;
  }

  header h1,
  #subheading {
    font-size: 54px;
    line-height: 54px;
    padding-top: 30px;
  }

  #menu-toggle {
    top: 34px;
    padding-top: 10px;
  }

  #menu-toggle i {
    margin-bottom: 10px;
  }

  #menu-toggle.active .first {
    top: 12px;
  }

  #menu-toggle.active .third {
    top: -13px;
  }

  nav ul {
    padding: 20px 0 50px 0;
    font-size: 18px;
  }

  nav ul a,
  nav .show-more {
    padding: 12px 0;
  }

  #content {
    padding: 50px 0;
  }

  #further-reading a {
    width: 45%;
    float: left;
  }

  #further-reading a + a {
    float: right;
  }

  .post-preview {
    padding: 1.5em 0;
  }

  .post-preview h2 {
    float: left;
    width: 70%;
    margin-bottom: 0;
  }

  .post-preview .date {
    float: right;
    margin-top: 0.3em;
    margin-bottom: 0;
  }

  .post-preview .preview {
    padding-top: 10px;
  }

  body {
    font-size: 24px;
  }

  footer {
    font-size: 16px;
    line-height: 24px;
  }

  footer img {
    width: 128px;
    margin-right: 32px;
  }

  footer p {
    margin-left: 160px;
  }

  footer a {
    margin: 0 2px;
    padding: 3px 6px;
  }

}
