code {
    background: var(--#{$prefix}gray-200);
    padding: 0.25em 0.25em 0.125em 0.25em;
    border-radius: 0.25em;
    line-height: 1;
    vertical-align: 0.05em;
}

pre {
    margin-bottom: var(--#{$prefix}body-font-size); // match 1em on paragraph

    code {
        display: block;
        line-height: 1.2;
        padding: 0;
        background: transparent;
    }
}

pre:has(code) {
    background: var(--#{$prefix}gray-200);
    padding: map-get($spacers, 2);
    border-radius: $border-radius;
}
