footer {
    background: $gray-200;
    box-shadow: 0 9999px 0 9999px $gray-200;
    font-family: var(--#{$prefix}font-sans-serif);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding: map-get($spacers, 4) 0;
    color: var(--#{$prefix}gray-600);

    @include media-breakpoint-up(sm) {
        padding: map-get($spacers, 5) 0;
    }

    @include media-breakpoint-up(md) {
        padding: map-get($spacers, 6) 0;
    }

    img {
        float: left;
        width: 3rem;

        @include media-breakpoint-up(md) {
            width: 8rem;
        }
    }

    h3, p {
        margin-left: 4rem;

        @include media-breakpoint-up(md) {
            margin-left: 10rem;
        }
    }

    h3 {
        @extend .fs-5;

        font-weight: normal;
        margin-bottom: 0;
        margin-top: 0;

        small {
            color: var(--#{$prefix}gray-500);
            cursor: help;
        }
    }

    p.lead {
        @extend .fs-6;

        margin-bottom: map-get($spacers, 2);
    }

    p {
        @extend .fs-7;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
