$lightbox-zindex: 99;

.lightbox {
    position: fixed;
    z-index: $lightbox-zindex;
    -ms-touch-action: none;
    touch-action: none;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.2), 0 1rem 5rem rgba(#000, 0.2);
    border-radius: $border-radius;
}

.lightbox-overlay {
    position: fixed;
    z-index: ( $lightbox-zindex - 1 );
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(#fff, 0.9);
}

.lightbox-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: ( $spinner-width * -0.5 );
    margin-top: ( $spinner-height * -0.5 );
    z-index: ( $lightbox-zindex + 1 );
}
