#menu-toggle {
    position: absolute;
    top: 1.5rem;
    right: 0;
    width: 0.8em;
    display: block;
    padding-top: 5px;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
        top: 1.75rem;
        padding-top: 8px;
    }

    @include media-breakpoint-up(md) {
        top: 2rem;
        padding-top: 10px;
    }

    i {
        display: block;
        position: relative;
        top: 0;
        height: 2px;
        margin-bottom: 6px;
        background: rgba(255,255,255,0.5);
        transition: opacity 0.2s, top 0.2s, transform 0.2s;

        @include media-breakpoint-up(sm) {
            margin-bottom: 8px;
        }

        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
        }
    }

    &:hover i,
    &.active i {
        background: #fff;
    }

    &.active {
        .first {
            transform: rotate(-45deg);
            top: 8px;

            @include media-breakpoint-up(sm) {
                top: 10px;
            }

            @include media-breakpoint-up(md) {
                top: 12px;
            }
        }

        .second {
            opacity: 0;
        }

        .third {
            transform: rotate(45deg);
            top: -8px;

            @include media-breakpoint-up(sm) {
                top: -10px;
            }

            @include media-breakpoint-up(md) {
                top: -13px;
            }
        }
    }
}

nav {
    // Nav is hidden by default, even if JavaScript isn't available to
    // show it again, because it’s an incredibly long list, and it’ll be
    // a better experience for people to use the homepage for navigation
    // if JavaScript isn’t working for some reason.
    display: none;

    ul {
        @extend .fs-7;

        list-style: none;
        padding: 0 0 1.5rem 0;
        margin: 0;
        font-weight: normal;

        @include media-breakpoint-up(sm) {
            padding: 1.5rem 0 2rem 0;
        }

        @include media-breakpoint-up(md) {
            padding: 1.5rem 0 3rem 0;
        }
    }

    li {
        margin-bottom: 0;
    }

    a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: inherit;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0.75em 0;
        line-height: 1.3em;
        text-decoration: none;

        @include media-breakpoint-up(sm) {
            justify-content: space-between;
            flex-direction: row;
            gap: 1rem;
        }

        &:hover {
            color: inherit;

            strong {
                text-decoration: underline;
            }
        }

        strong {
            color: rgba(255, 255, 255, 0.8);
            font-weight: normal;

            @include media-breakpoint-up(sm) {
                max-width: 60%;
            }
        }

        span {
            color: rgba(255, 255, 255, 0.4);
            white-space: nowrap;
            text-decoration: none;
        }
    }

    a:hover,
    .active {
        strong {
            color: rgba(255, 255, 255, 1);
        }

        span {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .active {
        a {
            cursor: default;
        }
    }

    .hidden,
    .hidden ~ .show-more {
        display: none;
    }

    .draft {
        font-style: italic;

        strong {
            color: rgba(255, 255, 255, 0.4);
        }

        &:hover {
            strong {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }

    .show-more {
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0.75em 0;
        line-height: 1.3em;
        cursor: pointer;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

}
