.post-preview {
    display: block;
    padding: 2rem 0;
    border-top: 1px solid var(--#{$prefix}gray-300);
    color: inherit;
    overflow: auto;
    text-decoration: none;

    &:focus,
    &:hover {
        color: $link-color;
    }

    &:first-child {
        border-top: none;
        padding-top: 0;
    }

    &.draft {
        opacity: 0.6;

        h2 {
            font-style: italic;
        }
    }

    h2 {
        @extend .h3;

        margin-top: 0;
        margin-bottom: 0.3rem;
        line-height: 1.2em;
    }

    p {
        @extend .fs-6;

        line-height: 1.4em;
        margin-bottom: 0.625rem;
    }

    .date {
        opacity: 0.6;
    }

    @include media-breakpoint-up(sm) {
        h2 {
            float: left;
            width: 65%;
            margin-bottom: 0.625rem;
        }

        .date {
            float: right;
            margin-top: 0.2rem;
            margin-bottom: 0.625rem;
        }

        .preview {
            clear: both;
        }
    }

    @include media-breakpoint-up(md) {
        h2 {
            width: 70%;
        }
    }

    img {
        margin-top: 0.625rem;
        border-radius: $border-radius;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}
