%heading {
    margin-top: 1.5em;
}

h5, h6, .h5, .h6 {
    font-weight: bold;
}

h1, h2, .h1, .h2 {
    small {
        font-size: 0.6em;
        color: $gray-600;
    }
}

ul, ol, dl {
    margin-bottom: 1.25rem;
}

li {
    margin-bottom: 0.25rem;
}

hr {
    margin: map-get($spacers, 5) 0;

    @include media-breakpoint-up(md){
        margin: map-get($spacers, 6) 0;
    }
}

hr.stars {
    height: auto;
    text-align: center;
    border: none;
}

hr.stars:after {
    display: inline;
    content: "* * *";
    vertical-align: -0.5em;
}

blockquote {
    font-size: 0.93em;
    margin: 2em 0;
    padding-left: 1em;
    color: var(--#{$prefix}gray-600);
    border-left: 5px solid var(--#{$prefix}gray-300);

    p {
        margin-bottom: 0.7rem;
        font-weight: normal;
    }
}

blockquote.twitter-tweet {
    padding: 1rem;
    border: 1px solid var(--#{$prefix}gray-400);
    border-radius: var(--#{$prefix}border-radius);
    background: var(--#{$prefix}white);
    font-family: var(--#{$prefix}font-sans-serif);
    font-size: 1rem; // small attribution line!
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;

    p {
        font-size: 1.25rem; // less small quote text!
    }
}

twitter-widget {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
}

iframe {
    margin-bottom: $paragraph-margin-bottom;
}

img,
video {
    max-width: 100%;
    height: auto;
}

[data-lazy-src],
[data-lazy-srcset]{
    will-change: contents;
}
